{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer Home Page</title>
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'home/js/home.js' %}"></script> -->
    <!-- <style type="text/css">
          @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}
    </style> -->
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 7px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #00000042; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #dfdfdf7c;
          border-radius: 20px;
          margin: 2px; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
    </style>
</head>
<body>
    {% include "home/home_top.html" %}
    <main>
        <div class="main__cnt">
            <div class="main__cnt_center">
                <div class="main__cnt_center-left">
                    <h2 class="main__h2">Портал по настольным играм</h2>
                    <!-- <hr width="400" size="2" color="azure" class="main__h2-line"/> -->
                    <div class="main__h2_description">Твой персональный помощник в мире настольных игр</div>
                </div>
                <div class="main__cnt_center-right">
                    <div class="main__cnt_center-right-cnt">

                        <div class="main_cnt_right-cnt_bg monopoly" style="background-color: #8fbc72;">
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_icon" style="background-image: ;"></div>
                                <div class="main_cnt_bg_time">3ч.</div>
                            </div>
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_title">Monopoly</div>

                                <div class="main_cnt_bg_params">
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Сложность:&nbsp;</span>
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                    </div>
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Игроки: 6&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main_cnt_right-cnt_bg monopoly" style="background-color: #71d2ff;">
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_icon" style="background-image: ;"></div>
                                <div class="main_cnt_bg_time">30м.</div>
                            </div>
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_title">Каркасон</div>

                                <div class="main_cnt_bg_params">
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Сложность:&nbsp;</span>
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                    </div>
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Игроки: 6&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main_cnt_right-cnt_bg monopoly" style="background-color: #ffd000;">
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_icon" style="background-image: ;"></div>
                                <div class="main_cnt_bg_time">6ч.</div>
                            </div>
                            <div class="main_cnt_boardgame_1cnt">
                                <div class="main_cnt_bg_title">High Frontier 4 All</div>

                                <div class="main_cnt_bg_params">
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Сложность:&nbsp;</span>
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                        <img src="{% static 'img/home/star.png' %}" width="10">
                                    </div>
                                    <div class="main_cnt_bg_params_complexity">
                                        <span class="main_cnt_bg_params_complexity_span">Игроки: 6&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section__roadmap">
        <h2 class="section__roadmap_header">Дорожная карта</h2>
        <ul class="section__roadmap-cntr">
            <li class="section__roadmap_ul" style="border: 2px solid #adadad;">
                <div class="section__roadmap_ul-leftcnt">
                    <h3 class="h3__stage-header">1.0. <span class="greycolor">GREY Update</span>&nbsp;<span class="tag_inprogress">(В ПРОЦЕССЕ)</span></h3>
                    <div class="section__roadmap_cnt">
                        <div class="section__roadmap_cnt-feature">- Первая рабочая версия портала</div>
                    </div>
                    <div class="section__roadmap_cnt">
                        <div class="section__roadmap_cnt-feature">- Профили пользователей</div>
                    </div>
                    <div class="section__roadmap_cnt">
                        <div class="section__roadmap_cnt-feature">- База данных настольных игр (Alpha)</div>
                    </div>
                    <div class="section__roadmap_cnt">
                        <div class="section__roadmap_cnt-feature">- Система гильдий и история сыгранных игр</div>
                    </div>
                </div>
                <div class="section__roadmap_ul-rightcnt" style="background-color: #adadad;">
                    
                </div>
            </li>
        </ul>
    </section>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>