{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer Sign Up</title>
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'scripts/js/home_signup.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_signup.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script> -->
    <!-- <style type="text/css">
          @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}
    </style> -->
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 7px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #00000042; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #dfdfdf7c;
          border-radius: 20px;
          margin: 2px; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
    </style>
</head>
<body>
    {% include "home/home_top.html" %}
    <main>
        <div class="main__cnt">
            <div class="main__signup_cnt">
                <form method="post" action="" class="main__signup_form">
                    {% csrf_token %}
                    <h2>Время зарегистрироваться!</h2>
                    <div class="main__form_inputcnt">
                        <label>Электроная почта</label>
                        <input type="text" class="mail-f">
                    </div>
                    <div class="main__form_inputcnt">
                        <label>Пароль</label>
                        <input type="password" class="pass-f">
                    </div>
                    <div class="register__form-reg-block">
                        <div class="password-check-att-general-cnt-first-row">
                            <div class="first-att">
                                <svg width="20" height="20">
                                    <circle cx="10" cy="15" r="3" fill="#cbcdcc"  class="check-one"/>
                                    <polyline points="7,14 10,19 16,9" stroke="#27cf7f" stroke-width="2" fill="none" class="tick-one" />
                                </svg>
                                <span class="att-text-1">One uppercase character</span>
                            </div>
                            <div class="first-att">
                                <svg width="20" height="20" class="svg2">
                                    <circle cx="10" cy="15" r="3" fill="#cbcdcc" class="check-two"/>
                                    <polyline points="7,14 10,19 16,9" stroke="#27cf7f" stroke-width="2" fill="none" class="tick-two" />
                                </svg>
                                <span class="att-text-1">One number</span>
                            </div>
                        </div>
                        <div class="password-check-att-general-cnt-first-row">
                            <div class="first-att">
                                <svg width="20" height="20">
                                    <circle cx="10" cy="15" r="3" fill="#cbcdcc" class="check-three"/>
                                    <polyline points="7,14 10,19 16,9" stroke="#27cf7f" stroke-width="2" fill="none" class="tick-three" />
                                </svg>
                                <span class="att-text-1">One lowercase character</span>
                            </div>
                            <div class="first-att">
                                <svg width="20" height="20" class="svg3">
                                    <circle cx="10" cy="15" r="3" fill="#cbcdcc" class="check-four" />
                                    <polyline points="7,14 10,19 16,9" stroke="#27cf7f" stroke-width="2" fill="none" class="tick-four" />
                                </svg>
                                <span class="att-text-1">8 characters min.</span>
                            </div>							
                        </div>
                    </div>     
                    <div class="main__form_inputcnt">
                        <label>Подтвердите пароль</label>
                        <input type="password" class="pass-f-con">
                    </div>
                    <div class="register__form-reg-block_checkbox">
                        <input type="checkbox" class="checkbox__reg__custom" id="rights">
                        <label class="you-agree-terms-policy__text" for="rights">I agree to Jouer Terms, Privacy Policy and agree to get cookies.</label>
                    </div>
                    <div class="main__form_submit_button">Продолжить</div>              
                </form>
            </div>
            <div class="main__signup_cnt2">
                <form method="post" action="" class="main__signup_form">
                    {% csrf_token %}
                    <h2>Введите код</h2>
                    <div class="main__form_inputcnt">
                        <label>На Вашу почту был отправлен код. Введите его в окно ниже для подтверждения доступа к почте</label>
                        <input type="text" class="code-f">
                    </div>
                    <div class="main__form_submit_button2">Продолжить</div>              
                </form>
            </div>
        </div>
    </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>