{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_top.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_signin.css' %}">
    <script src="{% static 'scripts/js/home_signin.js' %}"></script>
    <title>Jouer Login</title>
</head>
<body>
{% include "home/home_top.html" %}
    <main>
        <div class="main-cnt-centre__small-cnt login-view" id="main__signin1">
            <!--<h1 class="h1-new">Snack In</h1>-->
            <form method="post" action="" class="main__login-form">
                {% csrf_token %}
                {{ form.as_p}}
                <div class="forgot-pass">Забыли пароль?</div>
                <div class="sbm-cnt">
                    <button type="submit" class="lgn-btn">Вход</button>
                </div>
            </form>
        </div>
        <div class="main-cnt-centre__small-cnt login-view" id="main__signin2">
            <form method="post" action="" class="main__login-form">
                {% csrf_token %}
                <label>Введите почту:</label>
                <input type="email" class="main__email-recovermail">
                <div class="sbm-cnt">
                    <div class="main__resetpass-btn">Восстановить пароль</div>
                </div>
            </form>
        </div>
        <div class="main-cnt-centre__small-cnt login-view" id="main__signin3">
            <form method="post" action="" class="main__login-form">
                {% csrf_token %}
                <label>Код отправлен Вам на почту:</label>
                <input class="main__code-approve">
                <div class="sbm-cnt">
                    <div class="main__code-approve-btn">Подтвердить код</div>
                </div>
            </form>
        </div>
    </main>
    {% comment %} <div class="main-cnt-centre__small-cnt reset-view">
        <h1 class="h1-new">Reset your password</h1>
        <form method="post" class="reset-pass__form">
            {% csrf_token %}
            <p class="reset-get-mail__cnt">
                <label>Your mail:</label>
                <input type="text" class="ourmail">
            </p>
            <div class="getpass">Get code</div>
        </form>
        <form method="post" class="reset-pass2__form">
            {% csrf_token %}
            <p class="reset-get-code__cnt">
                <label>Code:</label>
                <input type="text" class="ourmail2">
            </p>
            <div class="resetpass">Get new password</div>
        </form>
    </div> {% endcomment %}
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/login__media.css' %}"> {% endcomment %}
</html>