{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer Settings</title>
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gstyles/g_scroll.css' %}">
    <script src="{% static 'scripts/settings.js' %}"></script>
</head>
<body>
  {% include "feed/feed_top.html" %}
  <main id="main">
    <div class="main__central_cnt">
      <h2>Настройки профиля {{cuser.nickname}} <span class="h2__colored-text" style="color: {{design.color1}}"></span></h2>
    </div>
    <div class="main__central_workspace">
      <div class="main__central_workspace-item item__change_pass">
        <div class="main__settings_changepass-1cnt">
          <span class="main__my-collection-text">Смена пароля</span>
          <span class="main__my-collection-figure">&nbsp;</span>
        </div>
        <div class="main__settings_changepass-2cnt">
          <input class="main__settings_changepass-2cnt_input" id="field1" placeholder="Старый пароль" type="password">
          <input class="main__settings_changepass-2cnt_input" id="field2" placeholder="Новый пароль" type="password">
          <input class="main__settings_changepass-2cnt_input" id="field3" placeholder="Повторите пароль" type="password">
          <div class="main__settings_changepass-2cnt_btn">Сменить пароль</div>
        </div>
      </div>
    </div>
  </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>