
header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #070707;
    /* position: fixed; */
    /* Test */
    /* border-bottom: 1px solid #ffffff;  */
}
.header__cnt-with-logo {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color: azure;
    font-family: "ComissionerB";
    font-size: 40px;
}
.header__homelink {
    font-family: "ComissionerB";
}
nav {
    display: flex;
    justify-content: center;
    min-width: 40%;
}
.header__nav_ul {
    display: inline-block;
    color: azure;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__nav_li {
    display: inline-block;
    color: grey;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    transition: .5s;
    border-bottom: 1px solid transparent;
}
.header__nav_li:hover {
    color: azure;
    transition: .5s;
    border-bottom: 1px solid azure;
}
.header__cnt-with-reg-login {
    display: flex;
    justify-content: right;
    width: 25%;
    align-items: center;
}
.header__login-btn {
    text-align: center;
    align-items: center;
    color: azure;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: "ComissionerR";
}
.header__reg-btn {
    text-align: center;
    align-items: center;
    color: azure;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: "ComissionerR";
}
