{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer Feed</title>
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/feed.css' %}">
    <script src="{% static 'scripts/feed.js' %}"></script>
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 7px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #00000042; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #dfdfdf7c;
          border-radius: 20px;
          margin: 2px; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
    </style>
</head>
<body>
  {% include "feed/feed_top.html" %}
  <main>
    <div class="main__central_cnt">
      <h2>Привет, {{cuser.nickname}} <span class="h2__colored-text" style="color: {{design.color1}}">!</span></h2>
    </div>
    <div class="main__central_workspace">
      <div class="main__central_workspace-item item__my-collection" style="background-image: url({% static 'img/g_bg/rounded-black-square-shape.png' %})">
        <span class="main__my-collection-text">Моя коллекция</span>
        <span class="main__my-collection-figure">0</span>
      </div>
    </div>
  </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>