{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer Feed</title>
    <script src="{% static 'frameworks/jQueryv3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/feed.css' %}">
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 7px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #00000042; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #dfdfdf7c;
          border-radius: 20px;
          margin: 2px; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
    </style>
</head>
<body>
  <header>
    <div class="header__center-cnt">
      <div class="header__nav-cnt">
        <h1><img src="{% static 'img/g_dice/dice.png' %}" width=20></h1>
        <ul class="header__nav-menu">
          <li class="header__nav-li header__nav-li_active">Рабочая область</li>
          <li class="header__nav-li">Библиотека</li>
          <li class="header__nav-li">Рынок</li>
          <li class="header__nav-li">Коллекция</li>
        </ul>
      </div>
      <div class="header__left-cnt">
        <div class="header__bg_profile-picture" style="background-image: url({% static 'img/g_profiles/default.png' %})"></div>
        <div class="header__logout-btn"><a href="logout/" class="header__a-logout-btn"><img src="{% static 'img/g_dice/exit.png' %}" width=17 class="header__exit-img"></a></div>
      </div>    
    </div>
  </header>
  <main>
    <div class="main__central_cnt">
      <h2>Привет, {{nickname}} <span class="h2__colored-text">!</span></h2>
    </div>
  </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>