* {
    font-family: "ComissionerR";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: #0c0c0c;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.main__central_cnt {
    display: flex;
    width: 99%;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    margin-top: 50px;
    display: block;
    width: 100%;
    font-family: "ComissionerR";
    font-size: 30px;
    color: azure;
    text-align: center;
    user-select: none;
}
.main__central_workspace {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 95%;
    margin-top: 40px;
}
.main__central_workspace-item {
    display: flex;
    justify-content: start;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
    transition: .5s;
    background-position: -500%;
    background-repeat: no-repeat;
    background-size: 0%;
}

.main__central_workspace-item:hover {
    top: -5px;
    left: -0px;
    transition: .2s;
}
.item__my-collection {
    width: 300px;
    height: 150px;
    background-color: azure;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.main__my-collection-text {
    font-size: 25px;
    font-family: "ComissionerB";
    display: flex;
    width: 90%;
}
.main__my-collection-figure {
    font-size: 70px;
    font-family: "ComissionerB";
    display: flex;
    width: 90%;
}